.container{
    display: flex;
    position: absolute;
    flex-direction: column;
    /* make a colored box */
    background-color: #fffdfd;
    /* make the box transparent */  
    opacity: 0.5;
    /* make the box a little bit bigger than the form */
    width: 50%;
    height: 50%;
    /* center the box */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(19, 21, 24);
}
